In [ ]:
import pandas as pd

In [2]:
df = pd.read_parquet('data.parquet')

display(df)

                     banknifty     nifty  tte
time
2021-01-01 09:15:00   0.286058  0.199729   27
2021-01-01 09:16:00   0.285381  0.200433   27
2021-01-01 09:17:00   0.284233  0.200004   27
2021-01-01 09:18:00   0.286104  0.199860   27
2021-01-01 09:19:00   0.285539  0.198951   27
...                        ...       ...  ...
2022-06-30 15:26:00   0.240701  0.214758   28
2022-06-30 15:27:00   0.240875  0.216558   28
2022-06-30 15:28:00   0.242115  0.216794   28
2022-06-30 15:29:00   0.243426  0.216455   28
2022-06-30 15:30:00   0.241907  0.216081   28

[690512 rows x 3 columns]

In [3]:
df = df.ffill()

In [4]:
df['spread'] = df['banknifty'] - df['nifty']

In [ ]:
import matplotlib.pyplot as plt
from statsmodels.tsa.stattools import adfuller

# Visualize the time series
plt.figure(figsize=(12, 6))
plt.subplot(2, 1, 1)
df['banknifty'].plot(label='Bank Nifty IV')
df['nifty'].plot(label='Nifty IV')
plt.legend()
plt.title('Bank Nifty IV and Nifty IV')

plt.subplot(2, 1, 2)
df['spread'].plot()
plt.title('Volatility Spread')
plt.tight_layout()
plt.show()

# Check for stationarity of the volatility spread
spread_stationarity = adfuller(df['spread'])
print('Augmented Dickey-Fuller Test Results:')
print(f'Test Statistic: {spread_stationarity[0]}')
print(f'p-value: {spread_stationarity[1]}')

# Analyze the distribution of the volatility spread
print('\nVolatility Spread Summary Statistics:')
print(df['spread'].describe())

# Plot the distribution of the volatility spread
df['spread'].hist(bins=30)
plt.title('Distribution of Volatility Spread')
plt.show()

# Identify potential outliers
spread_outliers = df['spread'][(df['spread'] > df['spread'].quantile(0.99)) | (df['spread'] < df['spread'].quantile(0.01))]
print(f'\nNumber of potential outliers: {len(spread_outliers)}')
print(spread_outliers)

In [ ]:
df